/* TEXT IMPORT */
@import url("../fonts/blenderpro/stylesheet.css");

/*|--------------------------------------------------------------------------------|*/


/* UNIVERSAL SETTINGS */
* {
    margin: 0; padding: 0; box-sizing: border-box; border: none; list-style: none; text-decoration: none; outline: none; font-family: "Blender Pro Book", arial, sans-serif;
}
/* UNIVERSAL SETTINGS */


/*|--------------------------------------------------------------------------------|*/


/* MAIN DESIGN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background: url("../img/bg.png") !important;
	background-attachment: fixed;
	background-size: contain;
}
/* MAIN DESIGN */

/* FORM DESIGN */
.typ-header {
    color: #d4f34a !important;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000 !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb2 {
    margin-bottom: 2px;
}

#send-message-div {    
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    border: 2px solid #000;
    background: #085078;
    background: -webkit-linear-gradient(to bottom, #95fff4, #348cbb);
    background: linear-gradient(to bottom, #95fff4, #348cbb);
    box-shadow: #348cbb 4px 4px 0px 0px, #000 4px 4px 0 2px;
}

#send-message-header {
    margin-bottom: 20px;
    text-align: left;
}

#send-message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-element {
    background-color: #d4f34a;
    border: 2px solid #000000;
    box-shadow: #85a00d 4px 4px 0px 0px,#000000 4px 4px 0 2px;
    font-size: 1rem;

    width: 100%;
    padding: 10px;
}

#send-message-form textarea {
    resize: vertical;
}

#send-message-form input[type="submit"] {
    font-weight: bold;
    cursor: pointer;
}

#character-counter-div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 8px;

    width: 100%;
}

#message-characters-p {
    text-align: right;
}
/* FORM DESIGN */


/* CHECKBOX DESIGN */
.checkbox-element *,
.checkbox-element *::before,
.checkbox-element *::after {
    box-sizing: border-box;
}

.checkbox-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.checkbox-element label {
    background: #d4f34a;
    border: 2px solid #000000;
    box-shadow: #85a00d 4px 4px 0px 0px,#000000 4px 4px 0 2px;
    display: flex;
    height: 28px;
    padding: 4px;
    position: relative;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 60px;
    margin-right: 14px;
    cursor: pointer;
}

.checkbox-element input {
    display: none;
}

.checkbox-element label:after {
    animation: move-left 400ms;
    background: #d4f34a url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' viewBox='0 0 24 24'%3E%3Cpath stroke='#E2E2E2' fill='#E2E2E2' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    border: 2px solid #000000;
    border-radius: 0px;
    content: '';
    left: 4px;
    outline: none;
    position: absolute;
    transition: background 100ms linear;
    width: 18px;
    height: 18px;
    top: 3.5px;
}

.checkbox-element input:checked + label:after {
    animation: move-right 400ms;
    background: #d4f34a url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cpath stroke='white' fill='black' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    left: 34px;
}

.checkbox-element p {
    margin-top: 6px;
    font-weight: bold;
}

@keyframes move-right {
    0% {
        left: 4px;
    }
    75% {
        left: 39px;
    }
    100% {
        left: 36px;
    }
}

@keyframes move-left {
    0% {
        left: 36px;
    }
    75% {
        left: 1px;
    }
    100% {
        left: 4px;
    }
}
/* CHECKBOX DESIGN */